body {
  background-color: rgb(0, 0, 0);
  width: 1;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.lista-container {
  font-size: 20px;
  margin-top: 35px;
  width: 100%;
  margin: auto;
  background-color: gray;
}
.lista-row {
  display: flex;
  background-color: rgb(98, 95, 95);
}
#SortButton {
  color: wheat;
  background-color: teal;
  font-family: Comic Sans MS, cursive, sans-serif;
}

.ageButton {
  text-align: center;
}

.lista-column {
  background-color: rgba(185, 185, 185, 0.8);
  margin: 2px;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lista-name {
  flex-basis: 15%;
}

.lista-phone {
  flex-basis: 15%;
}

.lista-cpf {
  flex-basis: 20%;
}

.lista-date {
  flex-basis: 15%;
}

.lista-email {
  flex-basis: 30%;
}

.cm-header {
  background-color: rgba(147, 145, 145, 0.8);
  font-weight: bolder;
}

.cm-edit,
.cm-delete {
  flex-basis: 3.1%;
  text-align: center;
  cursor: pointer;
}

.cm-delete {
  background-color: rgb(217, 2, 2);
}
.cm-add-entry {
  flex-basis: 9.5%;
  text-align: center;
  cursor: pointer;
  background-color: rgb(7, 183, 7);
}

#newPersonModal {
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  z-index: 99;
  top: 50px;
  position: absolute;
  background-color: rgba(185, 185, 185, 0.8);
  margin-left: calc(50% - 250px);
}

#newPersonModal input {
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  border: 3px;
  width: 95%;
}

.input-err {
  background-color: red;
}

.set-age-morethirty {
  color: rgba(216, 255, 20, 0.922);
}

.set-age-underthirty {
  color: rgba(229, 0, 0, 0.922);
}

#backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  top: 0;
  left: 0;
}

#newPersonSubmitButton {
  background-color: rgb(7, 183, 7);
}

#newCancelButton {
  background-color: rgb(217, 2, 2);
}

#newPersonSubmitButton,
#newCancelButton {
  padding: 15px;
  border-radius: 5px;
  border: none;
  float: right;
  margin: 5px;
  cursor: pointer;
}
#newPersonSubmitButton,
#newCancelButton:hover {
  padding: 13px;
}

.disable-modal {
  visibility: hidden;
}

.enable-modal {
  visibility: visible;
}

i {
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  .cm-table-container,
  .cm-table-row,
  .cm-table-column,
  ::backdrop,
  .cm-name,
  .cm-phone,
  .cm-address,
  .cm-add-entry,
  .cm-edit,
  .cm-delete,
  .disable-modal,
  .enable-modal {
    width: 100%;
  }
}
